@import '../../shared/variables';

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(68, 68, 68, 1) 100%
    );
    color: #fff;
    .inner {
        border-left: 1px solid white;
        padding: 1rem;
        width: 50vw;
        @media screen and (max-width: $breakpoint) {
            width: 100%;
        }
    }
}
