@import "../../shared/variables";

.flex {
    display: flex;
}

img {
    margin-left: 1rem;
    margin-bottom: 1rem;
    float: right;
    @media screen and (max-width: $breakpoint) {
        max-width: 30vw;
    }
}
