.accordion {
  border-bottom: 1px solid #f18805;
  h2 {
    margin: 0;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    .icon {
        transform: rotate(0.25turn);
    }
  }
  .answer {
    display: none;
    margin-top: 0.5rem;
  }
  &.show {
    h2 .icon {
        transform: rotate(-0.25turn);
    }
    .answer {
        display: block;
    }
  }
}
