<app-content id="skills" class="section">
  <h1>
    <span>.</span>{{ content.headline }}<span>('</span
    >{{ content.overview.headline }}<span>')</span>
  </h1>
  <table appTable>
    <tr>
      <th>skill</th>
      <th>knowledge</th>
    </tr>
    <tbody>
      @for (row of content.overview.tableRows; track $index) {
      <tr>
        <td class="half">{{ row.index }}</td>
        <td><app-progress [progress]="row.value" /></td>
      </tr>
      }
    </tbody>
  </table>
  <br />
  <br />
  <h1>
    <span>.</span>{{ content.headline }}<span>('</span
    >{{ content.courses.headline }}<span>')</span>
  </h1>
  <table appTable>
    <tr>
      <th>course</th>
      <th>period</th>
      <th>link</th>
    </tr>
    <tbody>
      @for (row of content.courses.tableRows; track $index) {
      <tr class="limitMobile">
        <td>{{ row.index }}</td>
        <td>{{ row.date }}</td>
        <td>{{ row.link }}</td>
      </tr>
      }
    </tbody>
  </table>
</app-content>
